# Build configurations folders
/Debug/
/Release/
/linux-gcc-allegro4-debug/
/linux-gcc-allegro4-release/
/linux-gcc-allegro5-debug/
/linux-gcc-allegro5-release/
/linux-gcc-sdl-debug/
/linux-gcc-sdl-release/
/linux-gcc-sdl2-debug/
/linux-gcc-sdl2-release/
/linux-gcc-sfml-debug/
/linux-gcc-sfml-release/
/linux-gcc-sfml2-debug/
/linux-gcc-sfml2-release/
/mingw-allegro4-debug/
/mingw-allegro4-release/
/mingw-allegro5-debug/
/mingw-allegro5-release/
/mingw-sdl-debug/
/mingw-sdl-release/
/mingw-sdl2-debug/
/mingw-sdl2-release/
/mingw-sfml2-debug/
/mingw-sfml2-release/
/msvc-sdl-debug/
/topdown-linux-gcc-sdl-debug/
/topdown-mingw-sdl-debug/

# Eclipse cache
language.settings.xml
org.eclipse.cdt.managedbuilder.core.prefs
org.eclipse.cdt.codan.core.prefs

# Other
*.dll
spec.i

# Test vehicles
data/vehicles/test_*
data/courses/test_*
