# Build configurations folders
/Linux SDL 1.2 Debug
/Linux SDL 1.2 Release
/Linux Allegro 5 Debug
/Linux Allegro 5 Release
/Win32 SDL 1.2 Debug/
/Win32 Allegro 5 Debug/
/Win32 Allegro 5 Release/
/Win32 SDL 1.2 Release/
/Linux SDL 2.0 Debug
/Clean Debug
/Win32 SDL 2.0 Debug/
/Win32 SDL 2.0 Release/
/Linux fgeal Debug/
/Win32 fgeal Debug/

# DLLs
*.dll

# Eclipse cache
language.settings.xml
org.eclipse.cdt.managedbuilder.core.prefs
org.eclipse.cdt.codan.core.prefs